/* Formular-Container */
.form-container {
    flex: 1 1 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--dunkelgruen);
    align-self: flex-start;
    transition: all 0.3s ease-in-out;
}

/* Anzeige-Container */
.display-container {
    flex: 1 1 50%;
    max-width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 8px;
    background-color: var(--background-color-pure);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: padding 0.3s ease-in-out;
}

/* Anpassung wenn Content generiert wurde */
.base-container.has-generated-content:not(.focus-mode) {
    padding: 0 px;
}

.base-container.has-generated-content:not(.focus-mode) .form-container {
    flex: 0 0 30%;
    max-width: 30%;
}

.base-container.has-generated-content:not(.focus-mode) .display-container {
    flex: 0 0 65%;
    max-width: 65%;
    width: 65%;
    transition: padding 0.3s ease-in-out;
}

/* Generierter Inhalt */
.generated-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

/* Header Styles */
.display-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
} 