# Ignoriere node_modules in allen Unterordnern
**/node_modules/

# Ignoriere build-Ordner
**/build/

# Ignoriere Umgebungsvariablen-Dateien
**/.env*

# Ignoriere Logs
**/*.log

# Ignoriere macOS-spezifische Dateien
.DS_Store

# Ignoriere Editor-spezifische Dateien
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignoriere package-lock.json im Gruenerator-Ordner
Gruenerator/package-lock.json

# Ignoriere die 'ter'-Datei im Gruenerator-Ordner
Gruenerator/ter

# Ignoriere große Dateien
*.pack

# Ignoriere Cache-Dateien
**/.cache