.app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--background-color);
}

.app-loading-text {
  color: var(--font-color);
  font-size: var(--font-size-base);
}
