@use 'sass:color';
@use 'sass:map';
@use '../../styles/theme-bridge' as tb;

.hero-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tb.custom-color('white');
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    .hero-left {
        flex: 1;
        max-width: 50%;
        img {
            max-width: 100%;
            height: auto;
            border-radius: tb.$border-radius;
        }
    }

    .hero-right {
        flex: 1;
        max-width: 45%;
        h2 {
            font-size: tb.$font-size-base * 3;
            margin-bottom: 1.5rem;
            color: tb.$primary;
        }
        p {
            font-size: tb.$font-size-base * 1.25;
            color: tb.$body-color;
        }
    }

    .social-icons {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            margin-right: 1.5rem;
            font-size: 2rem;
            color: tb.$primary;
            transition: color 0.3s ease, transform 0.3s ease;
            text-decoration: none;

            &:hover {
                color: color.adjust(tb.$primary, $lightness: -10%);
                transform: scale(1.15);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media (max-width: map.get(tb.$container-max-widths, 'md')) {
        flex-direction: column;
        text-align: center;

        .hero-left, .hero-right {
            max-width: 100%;
        }

        .hero-right h2 {
            font-size: tb.$font-size-base * 2;
        }

        .hero-right p {
            font-size: tb.$font-size-base;
        }
    }
}
