



.help-display {
  border-radius: 8px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.help-content {
  font-size: 1em;
  line-height: 1.5;
}

.help-content-text p {
  margin-bottom: var(--spacing-small);
  white-space: pre-line;
}

.help-content-text p:last-child {
  margin-bottom: 0;
}

.help-content h4,
.help-content p strong {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--text-color);
  display: block;
}

.help-content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.help-content li {
  margin-bottom: 8px;
  padding-left: 20px;
  position: relative;
}

.help-content li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--grashalm);
}


@media (max-width: 768px) {
  .help-content {
    padding: 0px;
  }
} 