.content-wrapper {
  min-height: calc(100vh - 160px); /* 100vh minus Header und Footer Höhe */
  margin-top: 80px; /* Header-Höhe */
  margin-bottom: 80px; /* Footer-Höhe */
  display: flex;
  flex-direction: column;
}

/* Stellt sicher, dass der Footer am unteren Rand bleibt */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
} 