
.custom-prompt-notice {
  display: flex;
  align-items: center;
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-medium);
  background-color: rgba(var(--color-green-rgb), 0.1);
  border-left: 3px solid var(--color-green);
  border-radius: var(--border-radius);
}

.custom-prompt-notice .info-icon {
  font-size: 1.2rem;
  margin-right: var(--spacing-small);
  color: var(--color-green);
}

.custom-prompt-notice span {
  font-size: 0.9rem;
  color: var(--font-color);
}


.form-notice-container {
  margin: var(--spacing-large) 0 var(--spacing-medium) 0;
} 