/* buttons.css */
@import url('../common/variables.css');
@import url('../common/typography.css');

:root {
  --button-padding: 10px 20px;
  --button-border-radius: 7px;
  --button-font-size: 1em;
  --button-transition: 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.button {
  padding: var(--button-padding);
  border: none;
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  cursor: pointer;
  transition: background-color var(--button-transition), transform var(--button-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  transform: scale(1.01);
}

.button:active {
  transform: scale(0.98);
}

.button .icon {
  margin-right: 8px;
}

.button.loading {
  cursor: wait;
}

.button.loading .icon {
  animation: spin 2s linear infinite;
}

.submit-button, .generate-post-button, .copy-button {
  background-color: var(--tanne);
  color: var(--weiß);
  width: 100%;
}

.back-button .form-button {
  flex: 1;
  min-width: 0; 
}

.form-button {
  background-color: var(--weiß);
  color: #333;
}

.back-button {
  flex: 0 0 auto;
  min-width: fit-content;
  background-color: var(--weiß);
  color: #333;
}

.download-button {
  background-color: var(--tanne);
  color: var(--weiß);
  text-decoration: none;
}

.download-button,
.copy-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--tanne);
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.file-input-wrapper,
.unsplash-button {
  background-color: var(--tanne);
  color: var(--weiß);
  border: 2px solid var(--weiß);
}

.file-input-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: var(--button-border-radius);
  padding: 10px 20px;
}

.generate-post-button,
.download-button {
  background-color: var(--tanne);
  color: var(--weiß);
  border: none;
}

.file-input-wrapper:hover, .generate-post-button:hover {
  transform: scale(1.01);
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.file-input-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.file-input-text svg {
  margin-right: 10px;
}

.file-upload {
  border: 2px dashed var(--weiß);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  background-color: transparent;
  color: var(--weiß);
  justify-content: center;
  transition: border-color 0.3s, background-color 0.3s;
}

.file-upload.dragging {
  border-color: var(--sonne);
}

.file-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  justify-content: center;
  cursor: pointer;
  background-color: var(--sand)
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.checkmark {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  stroke: var(--klee);
  fill: none;
  stroke-linecap: round;
  animation: checkmark 0.4s ease-in-out forwards;
}

@keyframes checkmark {
  0% { stroke-dashoffset: 50px; }
  100% { stroke-dashoffset: 0; }
}

@media (max-width: 768px) {
  .button {
    font-size: 0.8em;
  }

  .download-button {
    border-radius: 20px;
    padding: 12px 10px;
  }
}