/* buttons.css */
@import url('../common/variables.css');
@import url('../common/typography.css');

:root {
  --button-padding: 10px 20px;
  --button-border-radius: 7px;
  --button-font-size: 1em;
  --button-transition: 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.button  {
  padding: var(--button-padding);
  border: none;
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  cursor: pointer;
  transition: background-color var(--button-transition), transform var(--button-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  transform: scale(1.01);
}

.button:active {
  transform: scale(0.98);
}

.button .icon {
  margin-right: 8px;
}

.button.loading {
  cursor: wait;
}

.button.loading .icon {
  animation: spin 2s linear infinite;
}



.social-media-baseform .copy-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: opacity 0.3s ease;
  width: auto;
}

.form-buttons {
  flex: 1;
  width: 100%;
  min-width: 0;
  max-width: calc(50% - 10px);
}

.back-button .form-button {
  flex: 1;
  min-width: 0; 
}

.form-button, .generate-post-button, .submit-button {
  background-color: var(--weiß);
  color: #333;
}

.form-button{
  width: 100%;
}

.back-button {
  flex: 0 0 auto;
  min-width: fit-content;
  background-color: var(--weiß);
  color: #333;
}

.download-button {
  background-color: var(--tanne);
  color: var(--weiß);
  text-decoration: none;
}

.download-button,
.copy-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--tanne);
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.file-input-wrapper,
.unsplash-search-button {
  background-color: var(--tanne);
  color: var(--weiß);
  border: 2px solid var(--weiß);
}

.file-input-wrapper .unsplash-search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: var(--button-border-radius);
  padding: 10px 15px; /* Vernünftiges Padding hinzugefügt */
  background-color: var(--tanne);
  color: var(--weiß);
  border: 2px solid var(--weiß);
}

.file-input-wrapper:hover {
  background-color: var(--klee);
  transform: scale(1.01);
}

.generate-post-button:hover, 
.form-button:hover, 
.copy-button:hover {
  transform: scale(1.01);
}

/*submitbutton*/

.submit-button {
  position: relative;
  overflow: hidden;
  padding: var(--button-padding, 10px 20px);
  border: none;
  border-radius: var(--button-border-radius, 5px);
  font-size: var(--button-font-size, 1em);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-button--loading {
  cursor: loading;
}

.submit-button--success {
  background-color: var(--success-color, #28a745);
}

.submit-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.submit-button__lottie-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button__lottie-animation {
  width: 100%;
  height: 100%;
}

.submit-button__content {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

.submit-button__content--visible {
  opacity: 1;
}

.submit-button__content--hidden {
  opacity: 0;
}

.submit-button__icon {
  margin-right: 8px;
}

.submit-button__icon--loading {
  animation: spin 2s linear infinite;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.file-input-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.file-input-text svg {
  margin-right: 10px;
}

.file-upload {
  border: 2px dashed var(--weiß);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  background-color: transparent;
  color: var(--weiß);
  justify-content: center;
  transition: border-color 0.3s, background-color 0.3s;
}

.file-upload.dragging {
  border-color: var(--sonne);
}

.file-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  justify-content: center;
  cursor: pointer;
  background-color: var(--sand)
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .button,
  .form-button,
  .submit-button,
  .generate-post-button,
  .back-button,
  .download-button,
  .copy-button,
  .image-search-button,
  .file-input-wrapper {
    font-size: 0.85em;
    padding: 8px 16px; /* Reduziertes Padding für mobile Geräte */
  }

  .download-button {
    border-radius: 20px;
    padding: 12px 10px;
  }
}

/* Gemeinsame Styles für FileUpload und UnsplashButton */
.file-input-text,
.unsplash-search-button {
  width: 100%;
  height: 42px;
  padding: var(--button-padding);
  border: 2px solid var(--weiß);
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  cursor: pointer;
  transition: background-color var(--button-transition), transform var(--button-transition);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tanne);
  color: var(--weiß);
}

.file-input-text:hover,
.unsplash-search-button:hover {
  background-color: var(--klee);
  transform: scale(1.01);
}

.file-input-text svg,
.unsplash-search-button svg {
  margin-right: 8px;
}

.file-name {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .file-input-text,
  .unsplash-search-button {
    height: 48px;
    font-size: 0.95em;
  }
}
